/* *************** HOME *************** */
/***************** loader design *****************/

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Shrikhand', cursive;
  background-color: $green;
  color: $slate;
  position: fixed;
  z-index: 9999;
  animation: fadeInOut 2500ms forwards;
  pointer-events: none;
}

.loader span {
  position: relative;
}

.loader span:after {
  content: '';
  width: 300px;
  height: 300px;
  position: absolute;
  top: -190%;
  left: -35%;
  border: 20px solid $slate;
  border-radius: 50%;
  border-top-color: $purple;
  animation: spin 2500ms linear forwards;

}

@keyframes spin {
  to {
    transform: rotate(360deg);
    visibility: hidden;
  }
}

@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

/***************** main header *****************/

main header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    form {
      display: flex;
      justify-content: center;
      flex-direction: row;
      width: 100%;
      height: 50px;
      gap: 17px;
      background-color: $grey;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  
    form .fa-solid {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    input {
      display: flex;
      border: none;
      font-size: 1rem;
      background-color: $grey;
      width: 115px;
    }
  
    section {
      background: $silver;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    & p {
      font-size: 1.12rem;
      font-weight: 300;
    }
  }
  
  /***************** function *****************/
  
  .function {
    display: flex;
    flex-direction: column;
    margin: 48px 20px 68px;

    @media (min-width: 1200px) {
      & {
        margin: 48px 180px 68px;
      }
    }
  
    h2 {
      margin: 0 0 26px;
    }
  
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
      justify-content: center;
    }

    @media (min-width: 1200px) {
      & ul {
        flex-flow: row nowrap;
      }
    }
  
    li {
      display: flex;
      position: relative;
      min-width: 250px;
      width: 100%;
      height: 72px;
      gap: 27px;
      /*margin: 0 20px 0 32px;*/
      border-radius: 20px;
      font-size: 1rem;
      padding-left: 35px;
      align-items: center;
      background: $silver;
      box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    }

    @media (min-width: 1200px) {
      li {
        display: flex;
        flex-wrap: wrap;
        width: calc((100% - 50px) / 3);
      }
    }
  
    b {
      position: absolute;
      left: -12px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: $purple;
      color: #fff;
      font-size: 0.9rem;
      text-align: center;
      line-height: 24px;
    }

    i {
      color: $gray;
    }

    li:hover i,
    li:focus i{
      color: $purple;
    }

  }
  
  /***************** restos *****************/
  
  .restaurants {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 20px 20px 80px;
    background: $silver;
  
    @media (min-width: 1200px) {
      & {
        padding: 20px 180px 80px;
      }
    }
    h2 {
      padding: 30px 0;
      margin: 0;
      width: 100%;
    }
  
    ul {
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      gap: 18px;
      width: 100%;
    }

    @media (min-width: 1200px) {
      & ul {
        display: flex;
        flex-direction: row;
        column-gap: 100px;
        row-gap: 50px;
      }
    }
  
    li {
      width: 100%;
    }

    @media (min-width: 1200px) {
      li {
        width: calc((100% - 100px) / 2);
      }
    }
  
    figure {
      position: relative;
    }

    figcaption {
      background-color: $white;
      padding: 20px 15px 0;
      margin-top: -5px;
      border-radius: 0 0 15px 15px;
    }

    @media (min-width: 1200px) {
      figcaption {
        padding-bottom: 20px;
      }
    }
  
    img {
      border-radius: 15px 15px 0 0;
      height: 200px;
      width: 100%;
    }
  
    b {
      display: flex;
      position: absolute;
      top: 15px;
      right: 15px;
      padding: 7px 9px 6px;
      color: $green;
      background: $aqua;
      border-radius: 2px;
      font-size: 0.87rem;
      font-weight: 500;
    }
  
    h3 {
      font-size: 1.1rem;
      margin: 0  0 5px;
    }
  
    p {
      margin: 0;
      font-weight: 300;
      font-size: 1rem;
    }
  
    .fa-heart {
      display: flex;
      position: absolute;
      right: 20px;
      bottom: 30px;
      width: 22px;
      height: 21px;
    }

    @media (min-width: 1200px) {
      .fa-heart {
        bottom: 20px;
      }
    }
  }

