/* *************** LAYOUT *************** */

// couleurs variables

$aqua: #99E2D0;
$green: #008766;
$sky: #89C8FA;
$blue: #003A68;
$purple: #9356DC;
$black: #000;
$silver: #F6F6F6;
$grey: #EAEAEA;
$slate: #353535;
$gray: #7E7E7E;
$white: #fff;

$btn: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
$heart: linear-gradient(0deg, #FF79DA, #9356DC);


/***************** global style *****************/

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: $black;
}

/***************** header *****************/

.logo {
  display: flex;
  justify-content: center;
  padding: 14px 89px 13px 89px;
  font-size: 1.87rem;

  .logo img {
    padding: 0 19px 0 16px;
  }
}

/***************** footer *****************/

footer {
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
  background: $slate;
  gap: 16px;

  @media (min-width: 1200px) {
    & {
      flex-direction: row-reverse;
      padding: 30px 25px;
    }
  }

  img {
    width: 100px;
    height: 30px;
    filter: invert(100%);
    object-fit: contain;
  }

  @media (min-width: 1200px) {
    & {
      align-self: flex-end;
    }
  }

  a {
    color: $white;
    font-size: 1rem;
    font-weight: 500;
  }

  @media (min-width: 1200px) {
    & a {
      font-weight: 400;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  @media (min-width: 1200px) {
    & ul {
      display: flex;
      flex-direction: row;
      padding-top: 10px;
      gap: 20px;
    }
  }

  i {
    margin-right: 11px;
    width: 11px;
    height: 13px;
  }
}

/***************** design btn *****************/
.btn { 
  display: flex;
  color: $white;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  background: $btn;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 1rem;
  margin: 30px auto 47px;
  border: none;
}

/***************** design heart *****************/

.heart {
  border: none;
  background-color: $silver;
  padding: 0;
  font-size: larger;

  & > * {
    color: $purple;
  }
  .fa-solid.fa-heart {
    opacity: 0;
    transition-duration: 3500ms;
  }
  .fa-regular.fa-heart {
    opacity: 1;
  }
  &:hover .fa-solid.fa-heart {
    opacity: 1;
  }
  &:hover .fa-regular.fa-heart {
    opacity: 0;
  } 

  @media (min-width: 1200px) {
    & {
      position: absolute;
      right: 20px;
      bottom: 10px;
    }
  }

}