/* *************** LAYOUT *************** */

// couleurs variables

$aqua: #99E2D0;
$green: #008766;
$sky: #89C8FA;
$blue: #003A68;
$purple: #9356DC;
$black: #000;
$silver: #F6F6F6;
$grey: #EAEAEA;
$slate: #353535;
$white: #fff;

$btn: linear-gradient(0deg,#9356DC, #FF79DA);
$heart: linear-gradient(0deg, #FF79DA, #9356DC);


/***************** global style *****************/

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: $black;
}

/***************** header *****************/

.logo {
  display: flex;
  justify-content: center;
  padding: 14px 89px 13px 89px;
  font-size: 1.87rem;

  .logo img {
    padding: 0 19px 0 16px;
  }
}

/***************** footer *****************/

footer {
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
  background: $slate;
  gap: 16px;

  img {
    width: 180px;
    height: 30px;
    filter: invert(100%);
  }

  a {
    color: $white;
    font-size: 1rem;
    font-weight: 500;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  i {
    margin-right: 11px;
    width: 11px;
    height: 13px;
  }
}