/* *************** RESTO *************** */

/* *************** HEADER *************** */
body > header {
    display: flex;
    width: 100%;
    height: 63px;

    a {
      display: flex;
      width: 100%;
      padding: 15px;
      align-items: center;
      justify-content: start;
    }
    .fa-arrow-left {
      color: $slate;
    }

    img {
      width: 100%;
      height: 36px;
      object-fit: contain;
      position: relative;
      right: 12px;
    }
}

/* *************** MAIN *************** */

main {
    padding-bottom: 1px;

    @media  (min-width: 1200px) {
      & > img {
        width: 100%;
        height: 450px;
      }
    }
}

.fa-heart {
    position: absolute;
    top: 65%;
    right: 30px;

    @media (min-width: 1200px) {
      & {
        left: 35px;
        top: -12px;
      }
    }
}

@media (min-width: 1200px) {
  .menu section:nth-of-type(1),
  .menu section:nth-of-type(3) {
      animation: slide1-3 2000ms;
    }

  .menu section:nth-of-type(2) {
    animation: slide2 2000ms;
  }

  @keyframes slide1-3 {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slide2 {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  }

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: $silver;
    border-radius: 40px 40px 0 0;
    z-index: 1;
    position: relative;
    margin-top: -50px;

    @media (min-width: 1200px) {
      & {
        width: 80%;
        margin: 0 auto;
        align-items:center;
        margin-top: -50px;
      }
    }

    header {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      height: 63px;
      gap: 42px;

    }

    h1 {
      font-family: 'Shrikhand', sans-serif;
      font-size: 1.7rem;
    }

    h2 {
      text-transform: uppercase;
      font-weight: 300;
      position: relative;
      font-size: 1rem;
      padding: 0 13px 0;
    }

    h2::after {
      content: ''; /* Ajouter un contenu vide pour l'élément ::after */
      position: absolute;
      width: 40px;
      border-bottom: 3px solid $aqua;
      left: 13px;
      bottom: -10px;
    }

      ul {
        display: flex;
        gap: 12px;
        flex-direction: column;
        padding: 12px 13px 0;
      }

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 69px;
        position: relative;
        background-color: $white;
        border-radius: 15px;
        box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10);
        padding: 0 15px 0;
      }

      @media (min-width: 1200px) {
        & li {
          width: 634px;
        }
      }

      li > section {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      h3 {
        margin: 0;
        font-size: 1rem;
        width: 287px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      p {
        margin: 0;
        width: 287px;
        font-size: 0.8rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      b {
        display: flex;
        position: absolute;
        right: 17px;
        bottom: 15px;
        font-weight: 600;
        font-size: 0.9rem;
        transform: translateX(0px); 
        transition: all 500ms;
      }
      & li:hover b {
        transform: translateX(-50px);
      }

      .fa-check-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 59px;
        height: 69px;                                    
        transform: translateX(40px); 
        background-color: $aqua;
        color: $white;
        border-radius: 0 15px 15px 0;
        transition: all 400ms; /* Ajouter une transition pour une animation fluide */
        opacity: 0;
      }

      & li:hover .fa-check-circle {
        transform: translateX(15px);
        opacity: 1;
      }
    }     

