@charset "UTF-8";
/* *************** LAYOUT *************** */
/***************** global style *****************/
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #000;
}

/***************** header *****************/
.logo {
  display: flex;
  justify-content: center;
  padding: 14px 89px 13px 89px;
  font-size: 1.87rem;
}
.logo .logo img {
  padding: 0 19px 0 16px;
}

/***************** footer *****************/
footer {
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
  background: #353535;
  gap: 16px;
}
footer img {
  width: 100px;
  height: 30px;
  filter: invert(100%);
  object-fit: contain;
}
footer a {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer i {
  margin-right: 11px;
  width: 11px;
  height: 13px;
}

.btn { /* button menu */
  display: block;
  color: #fff;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 1rem;
  margin-top: 40px;
  border: none;
}

/* *************** RESTO *************** */
/* *************** HEADER *************** */
body > header {
  display: flex;
  width: 100%;
  height: 63px;
}
body > header a {
  display: flex;
  width: 100%;
  padding: 15px;
  align-items: center;
  justify-content: start;
}
body > header .fa-arrow-left {
  color: #353535;
}
body > header img {
  width: 100%;
  height: 36px;
  object-fit: contain;
  position: relative;
  right: 12px;
}

/* *************** MAIN *************** */
main {
  background-color: #F6F6F6;
  padding-bottom: 40px;
}

.heart {
  border: none;
  background-color: #F6F6F6;
  padding: 0;
}
.heart > * {
  position: absolute;
  top: 65%;
  right: 30px;
  color: #9356DC;
}
.heart .fa-solid.fa-heart {
  opacity: 0;
  transition-duration: 1s;
}
.heart .fa-regular.fa-heart {
  opacity: 1;
}
.heart:hover .fa-solid.fa-heart {
  opacity: 1;
}
.heart:hover .fa-regular.fa-heart {
  opacity: 0;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  z-index: 1;
  position: relative;
  margin-top: -50px;
}
.menu header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: 63px;
  gap: 42px;
}
.menu h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.7rem;
}
.menu h2 {
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  font-size: 1rem;
  padding: 0 13px 0;
}
.menu h2::after {
  content: ""; /* Ajouter un contenu vide pour l'élément ::after */
  position: absolute;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
  left: 13px;
  bottom: -10px;
}
.menu ul {
  display: flex;
  gap: 12px;
  flex-direction: column;
  padding: 12px 13px 0;
}
.menu li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 69px;
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  padding: 0 15px 0;
}
.menu h3 {
  margin: 0;
  font-size: 1.1rem;
  width: 287px;
}
.menu p {
  margin: 0;
  width: 287px;
  font-size: 0.9rem;
}
.menu b {
  display: flex;
  position: absolute;
  right: 17px;
  bottom: 15px;
  font-weight: 600;
  font-size: 0.9rem;
  transform: translateX(0px);
  transition: all 300ms;
}
.menu:hover b {
  transform: translateX(-30px);
}
.menu .fa-check-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 69px;
  transform: translateX(60px);
  background-color: #99E2D0;
  color: #fff;
  border-radius: 0 15px 15px 0;
  transition: all 300ms; /* Ajouter une transition pour une animation fluide */
}
.menu:hover .fa-check-circle {
  transform: translateX(0);
}

/*# sourceMappingURL=menu.css.map */
