@charset "UTF-8";
/* *************** LAYOUT *************** */
/***************** global style *****************/
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #000;
}

/***************** header *****************/
.logo {
  display: flex;
  justify-content: center;
  padding: 14px 89px 13px 89px;
  font-size: 1.87rem;
}
.logo .logo img {
  padding: 0 19px 0 16px;
}

/***************** footer *****************/
footer {
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
  background: #353535;
  gap: 16px;
}
@media (min-width: 1200px) {
  footer {
    flex-direction: row-reverse;
    padding: 30px 25px;
  }
}
footer img {
  width: 100px;
  height: 30px;
  filter: invert(100%);
  object-fit: contain;
}
@media (min-width: 1200px) {
  footer {
    align-self: flex-end;
  }
}
footer a {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}
@media (min-width: 1200px) {
  footer a {
    font-weight: 400;
  }
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 1200px) {
  footer ul {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    gap: 20px;
  }
}
footer i {
  margin-right: 11px;
  width: 11px;
  height: 13px;
}

/***************** design btn *****************/
.btn {
  display: flex;
  color: #fff;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(1deg, #9356DC -20.44%, #FF79DA 129.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 1rem;
  margin: 30px auto 47px;
  border: none;
  transition: all 300ms;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.15);
  opacity: 0.8;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

/***************** design heart *****************/
.heart {
  border: none;
  background-color: #F6F6F6;
  padding: 0;
  font-size: x-large;
}
.heart .fa-solid.fa-heart {
  opacity: 0;
  transition-duration: 3500ms;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC 80%); /* Utilisation du dégradé linéaire comme arrière-plan */
  background-clip: text; /* Permet au dégradé d'être appliqué au texte */
  -webkit-background-clip: text;
  color: transparent; /* Rend le texte transparent pour laisser apparaître le dégradé */
}
.heart .fa-regular.fa-heart {
  opacity: 1;
}
.heart:hover .fa-solid.fa-heart {
  opacity: 1;
}

/* *************** RESTO *************** */
/* *************** HEADER *************** */
body > header {
  display: flex;
  width: 100%;
  height: 63px;
}
body > header a {
  display: flex;
  width: 100%;
  padding: 15px;
  align-items: center;
  justify-content: start;
}
body > header .fa-arrow-left {
  color: #353535;
}
body > header img {
  width: 100%;
  height: 36px;
  object-fit: contain;
  position: relative;
  right: 12px;
}

/* *************** MAIN *************** */
main {
  padding-bottom: 1px;
}
@media (min-width: 1200px) {
  main > img {
    width: 100%;
    height: 450px;
  }
}

.fa-heart {
  position: absolute;
  top: 29px;
  right: 30px;
}
@media (min-width: 1200px) {
  .fa-heart {
    left: 35px;
    top: -12px;
  }
}

/* *************** animation menus *************** */
@keyframes slide {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes hide {
  from {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu > section:nth-of-type(1) {
  animation: slide 1s;
}

.menu > section:nth-of-type(2) {
  animation: slide 1s 0.5s, hide 0.5s;
}

.menu > section:nth-of-type(3) {
  animation: slide 1s 1s, hide 1s;
}

/* *************** RESTO *************** */
.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  z-index: 1;
  position: relative;
  margin-top: -50px;
}
@media (min-width: 1200px) {
  .menu {
    width: 80%;
    margin: 0 auto;
    align-items: center;
    margin-top: -50px;
  }
}
.menu header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: 63px;
  gap: 42px;
}
.menu h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.7rem;
}
.menu h2 {
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  font-size: 1rem;
  padding: 0 13px 0;
}
.menu h2::after {
  content: ""; /* Ajouter un contenu vide pour l'élément ::after */
  position: absolute;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
  left: 13px;
  bottom: -10px;
}
.menu ul {
  display: flex;
  gap: 12px;
  flex-direction: column;
  padding: 12px 13px 0;
}
.menu li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 69px;
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  padding: 0 15px 0;
}
@media (min-width: 1200px) {
  .menu li {
    width: 634px;
  }
}
@media (max-width: 400px) {
  .menu li:hover h3,
  .menu li:hover p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 10px); /* Ajustez la largeur en fonction de la largeur de l'élément <fa-check-circle> */
  }
}
.menu h3 {
  margin: 0;
  font-size: 1rem;
}
.menu p {
  margin: 0;
  font-size: 0.8rem;
}
.menu b {
  display: flex;
  position: absolute;
  right: 17px;
  bottom: 15px;
  font-weight: 600;
  font-size: 0.9rem;
  transform: translateX(0px);
  transition: all 500ms;
}
.menu li:hover b {
  transform: translateX(-50px);
}
.menu li .fa-check-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 69px;
  transform: translateX(40px);
  background-color: #99E2D0;
  color: #fff;
  border-radius: 0 15px 15px 0;
  transition: all 400ms; /* Ajouter une transition pour une animation fluide */
  opacity: 0;
}
.menu li:hover .fa-check-circle {
  transform: translateX(15px);
  opacity: 1;
}

/*# sourceMappingURL=menu.css.map */
